/*thẻ*/
a {
    text-decoration: none;
}

:root {
    --bg-color: #001f5d;
}

.admin-layout {
    display: flex;
}

/* AppBar */
.app-bar {
    position: fixed;
    z-index: 1201; /* Đảm bảo AppBar nằm trên Drawer */
    transition: width 0.2s ease, margin 0.2s ease;
    padding-right: 0 !important;
}

/* Khi Drawer mở */
.app-bar.open {
    margin-left: 240px;
    width: calc(100% - 240px);
    transition: width 0.2s ease, margin 0.2s ease;

}

/* Nội dung chính */
.main-content {
    flex-grow: 1;
    padding: 24px;
    margin-left: 0;
    transition: width 0.2s ease, margin 0.2s ease;
    width: 100vw;
    box-sizing: border-box;
}

/* Khi Drawer mở */
.main-content.open {
    width: calc(100% - 240px);
    /*margin-left: 240px;*/
    transition: width 0.2s ease;

}

/* Drawer */
.drawer {
    width: 0;
    flex-shrink: 0;
}

/* Khi Drawer mở */
.drawer.open {
    width: 240px;
}

.admin-layout.open .main-content {
    margin-left: 240px;
    transition: margin 0.2s ease;
}
.admin-layout .app-bar {
    margin-left: -240px;
    width: 100%;
    z-index: 9999;
}
/* Drawer paper */
.drawer-paper {
    width: 240px;
    box-sizing: border-box;
}
/* Drawer Header */
.drawer-header {
    display: flex;
    align-items: center;
    padding: 0 8px;
    min-height: 64px; /* Đảm bảo chiều cao khớp với AppBar */
    justify-content: flex-start;
}

.Drawer-header {
    background: var(--bg-color);
    position: relative;
    height: 64px;

}

/* List Item trong Drawer */
.list-item {
    padding: 0;
    border-top: 1px solid #aaa;
}
.drawer-list > .drawer-link:first-child > .list-item {
    border-top: none;
}

.list-item-button {
    display: flex;
    align-items: center;
}

.list-item-icon {
    min-width: 40px;
}

.list-item-text {
    font-size: 16px;
}

/* Link trong Drawer */
.drawer-link {
    text-decoration: none;
    color: inherit;
}

.app-bar--header {
    background: var(--bg-color);
    color: white;
}